DEBUG=True
SECRET_KEY=degistirilecek-gizli-key
ALLOWED_HOSTS=127.0.0.1,localhost
# Canlı PostgreSQL için:
# DATABASE_URL=postgres://USER:PASSWORD@HOST:5432/DBNAME
FILE_STORAGE_MODE=local
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_STORAGE_BUCKET_NAME=
AWS_S3_ENDPOINT_URL=
AWS_S3_REGION_NAME=eu-central-1
